
.main_div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.resultComp{
    width: 55%;
}
.result_divs{
    margin: 0.5rem 0rem;
    padding: 1.5rem;
}
.side_div{
    width: 35%;
    padding: 1rem 2rem;
    /*background-color: cyan;*/
    margin: 1.5rem;
    height: 41rem;
    overflow: hidden;
    font-size: 1.6rem;
    border: 1px solid lightgrey;
    white-space: normal;
    text-overflow: clip;
    border-radius: 0.5rem;
    box-shadow: 0.51px 0.51px 5px 5px lightgrey;
}

@media(max-width: 760px){
        
    .main_div{
        flex-flow: column;
        width: 100%;
    }
    .resultComp{
        order: 2;
        width: 100%;
    }
    .side_div{
        order: 1;
        width: 95%;
    }
}